<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1> Recommendation based on people like you: </h1>

{% for book in collab %}
<div>
    <h2> {{book.title}}</h2>
    <p>  by {{book.authors}}</p>
    <p>  released in {{book.original_publication_year}}</p>
    <img src="{{book.image_url}}">
</div>
{% endfor %}


<h1> Books you might want to read: </h1>
{% for book in to_read %}
<div>
    <h2> {{book.title}}</h2>
    <p>  by {{book.authors}}</p>
    <p>  released in {{book.original_publication_year}}</p>
    <img src="{{book.image_url}}">
</div>
{% endfor %}
</body>
</html>